<aside class="absolute top-4 right-4">
  <button (click)="onCatchPokemonClick()"
    class="border border-slate-300 flex justify-center items-center p-2 text-blue-500 border-none">

    <ng-container *ngIf="!loading; else spinner">
      <ng-container *ngIf="isPokemonCaught; then pokemonCaught else notCaughtPokemon"
        class="material-icons"></ng-container>

      <ng-template #pokemonCaught>
        <span class="material-icons hover:scale-125 scale-150 z-10">star</span>
      </ng-template>

      <ng-template #notCaughtPokemon>
        <span class="material-icons hover:scale-125 scale-150 z-10">star_border</span>
      </ng-template>
    </ng-container>

    <ng-template #spinner>
      <span class="material-icons animate-spin scale-150 z-10">refresh</span>
    </ng-template>
  </button>
</aside>