<main class="container mx-auto mb-4 p-4 mt-4">
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class="flex flex-col">
        <fieldset class="mb-3">
            <label for="username" class="block">Username</label>
            <input type="text" 
            ngModel
            #username="ngModel"
            name="username" id="username" 
            class="border border-slate-300 p-2 rounded w-full" 
            placeholder="Johndoe">
        </fieldset>
    
        <button type="submit" class="bg-yellow-200 p-2 rounded">Login</button>
    </form>

    <section>
        <img src="assets/img/pokemon-loginPage.png" alt="starter-pokemons" class="mt-20">
    </section>
</main>