<div *ngIf="pokemon"> 
    <div class="container flex flex-col text-center shadow-xl 
    bg-grid-item rounded-2xl border-color-gird-item">
        <section class="flex justify-center content-center">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.url.slice(34, -1) }}.png" alt="pokemon.name"
            class="block">
        </section>
        <span class="text-gray-200 text-sm font-bold">
            Name: {{pokemon.name}}
        </span>
        <button>
            Favour
        </button>
    </div>
</div>

<!-- substring(34, pokemon.url.length - 1)-->